.venv
.env

# Python cache
_pycache_/
*.pyc



accounts/__pycache__
AI_PHONE_ASSISTANT/__pycache__
api/__pycache__
price_list/__pycache__
db.sqlite3
callLogs/__pycache__
call_transfer/__pycache__
store/__pycache__
ai_behavior/__pycache__